<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- <p>This is a portfolio web</p> -->


    <!-- Navbar start-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h1><a class="navbar-brand" href="#">My Portfolio</a></h1>
            <div class="container-fluid navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar end-->

    <!-- About Me -->
    <div class="container-fluid bg-body-tertiary" id="about">
        <div class="container-fluid">
            I am professional Backend Engineer currently working in Accenture as an SDE-II working on projects in
            Finance and E-commerse. The Tech Stack that i mainly use is MERN stack of which i extensively work with
            NodeJS and TypeScript. I have prior experience working in Python and Django as well. With FrontEnd I have
            mainly worked with ReactJs and Vanilla JS.
            <br>
            <br>
            In my free time, I like to experiment with new technologies and work on personal projects.
            <br>
            <br>
            <p>My Philosphy - "Think Twice Code Once"</p>
        </div>
    </div>
    <!-- About Me ends -->

    <!-- Project Section -->
    <div class="container-fluid">
        <section id="projects">
            <h2 class="h3">Projects</h2>
            <ul>
                <li>
                    <h3 class="h4">Zoom Clone</h3>
                    <p>A simple Zoom Clone with NodeJs and Express on Backend and EJS on frontend</p>
                    <ul>
                        Tech Stack Used
                        <li>NodeJs/ExpressJS</li>
                        <li>Socket.io</li>
                        <li>PeerJs</li>
                        <li>EJS</li>
                    </ul>
                    <a href="https://github.com/rohanmishra004/Zoom-Clone"><i class="fa fa-github"></i>
                        Zoom Clone</a>
                </li>
                <li>
                    <h3 class="h4">Blog Website</h3>
                    <p>A Simple Blog Website with CRUD operations</p>
                    <ul>
                        Tech Stack Used
                        <li>NodeJs/ExpressJS</li>
                        <li>MongoDB Atlas</li>
                        <li>EJS</li>
                    </ul>
                </li>
                <li>
                    <h3 class="h4">Project 3</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                </li>
            </ul>
        </section>
    </div>

    <!-- Project Section ends -->



</body>

</html>